# Windows image file caches
Thumbs.db
ehthumbs.db

# Folder config file
Desktop.ini

# Recycle Bin used on file shares
$RECYCLE.BIN/

# Windows Installer files
*.cab
*.msi
*.msm
*.msp

# Windows shortcuts
*.lnk

# =========================
# Operating System Files
# =========================

# OSX
# =========================

.DS_Store
.AppleDouble
.LSOverride

# Thumbnails
._*

# Files that might appear on external disk
.Spotlight-V100
.Trashes

# Directories potentially created on remote AFP share
.AppleDB
.AppleDesktop
Network Trash Folder
Temporary Items
.apdisk
*.suo
bin/Windows/Debug/Content/Data/GameEntities/Characters.txt
bin/Windows/Debug/SwiftSands.pdb
obj/x86/Debug/SwiftSands.exe
obj/x86/Debug/SwiftSands.pdb
bin/Windows/Debug/Content/Data/GameEntities/Characters.txt
bin/Windows/Debug/Content/Data/GameEntities/Characters.txt
bin/Windows/Debug/Data/SaveFiles/Save1.data
bin/Windows/Debug/Content/Data/GameEntities/Item.txt
bin/Windows/Debug/SwiftSands.exe
bin/Windows/Debug/SwiftSands.pdb
obj/x86/Debug/SwiftSands.exe
obj/x86/Debug/SwiftSands.pdb
SwiftSands.v12.suo
bin/Windows/Debug/SwiftSands.vshost.exe
bin/Windows/Debug/SwiftSands.exe
*.pdb
obj/x86/Debug/SwiftSands.exe
*.exe
*.cache
*.exe
obj/x86/Debug/DesignTimeResolveAssemblyReferencesInput.cache
